<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Web Application</title>
    <link rel="stylesheet" href="/stylesheet/main.css">
    <link rel="shortcut icon" href="/images/blogger-svgrepo-com.svg" type="image/x-icon">
</head>

<body>
    <nav class="nav-bar">
        <div class="nav-image">
            <div>
                <img src="/images/blogger-svgrepo-com.svg" alt="blogger-svgrepo-com">
                <p>BLOGGER</p>
            </div>
        </div>
        <div class="navbar-text">
            <div><a href="/">Home</a></div>
            <div><a href="/posts/new">Post</a></div>
        </div>
    </nav>